astroid==2.11.6
attrs==21.4.0
aws-cdk-lib==2.29.0
black==22.3.0
boto3==1.24.16
botocore==1.27.16
cattrs==22.1.0
click==8.1.3
constructs==10.1.42
dill==0.3.5.1
docopt==0.6.2
exceptiongroup==1.0.0rc8
invoke==1.7.1
isort==5.10.1
jmespath==1.0.1
jsii==1.61.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.2
publication==0.0.3
Pygments==2.12.0
pylint==2.14.4
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1
tomlkit==0.11.0
typing_extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
